#{extends 'main.html' /}
#{set title:'Profile' /}

<nav class="ui blue menu"> 
  <a class="ui item" href="/home"> <i class="home blue icon"></i> Home</a>      
   <a class="ui item" href="/members"> <i class="add user blue icon"></i>Members</a>  
  <a class="ui active item" href="/profile"> <i class="user blue icon"></i> Profile</a> 
  <a class="ui item" href="/leaderboard"><i class="bar chart blue icon"></i>Leaderboard</a>  
 <a class="ui item" href="/login">  <i class="sign out blue icon"></i> Logout</a>       
</nav>

<section class="ui segment">
  <h2 class="ui blue header">${user.firstName}'s Profile</h2>
  <h2 class="ui blue small header">Age: ${user.age}</h2>
  <h2 class="ui blue small header">Nationality: ${user.nationality}</h2>
         
            <div class="item">
              <i class="right triangle icon"></i>
              
                <a href="/editdetails"> Edit Details</a>
                
              </div>
       
  <div class="ui two column grid segment">
  
    <div class="ui row">
    
        
      <div class="ui column">
        <p>
          <img src="/profile/getpicture/${user.id}">
        </p>
        <form action="/profile/uploadpicture/${user.id}" method="post" enctype="multipart/form-data">    
          <input type="file" name="picture" /> 
          <input type="submit" name="submit" value="upload" />
        </form>
      </div>
      
      <div class="ui column form segment">
        <h2 class="ui small header"> Status</h2>
        <div class="ui green block label">
          <p> ${user.statusText} </p>
        </div>
        <hr>
        <form action="/profile/changestatus" method="post">
          <h3 class="ui inverted teal block header">Enter Status</h3>
          <textarea class="ui field" name="profiletext"> </textarea>
          <input class="ui blue button" type="submit" name="submit" value="Change" />
        </form>
      </div>
      
    </div>
  </div>
</section>